<?xml version="1.0" encoding="UTF-8"?>  
<widget xmlns   = "http://www.w3.org/ns/widgets"
   <name>FOCUS</name>  
   <description>  
     FOCUS Intranet SIRAD&TEZERA
   </description>  
   <author href="http://focus.sirad.com.co" email="sistemas@sirad.com.co">  
     FOCUS  
   </author>  
   <icon src="logo.png" />  
 </widget>  
